<div>

    <div class="uePanel panel" ng-if="rwDashboardUePanel.hasMme">
        <div class="panel__panel-header">
          <div class="panel__panel-header__panel-title">{{::rwDashboardUePanel.l10n.vnf['ltemmesim']}}</div>
        </div>
        <rw-gaugeset id="MME"
            dial-size="140"
            panel-width="140"
            class="panel__panel-body"
            gauges="rwDashboardUePanel.mmeGauges"
            ></rw-gaugeset>
    </div>
    <div class="uePanel panel" ng-if="rwDashboardUePanel.hasSaegw">
      <div class="panel__panel-header">
        <div class="panel__panel-header__panel-title">{{::rwDashboardUePanel.l10n.vnf['ltegwsim']}}</div>
      </div>
      <rw-gaugeset id="SAEGate"
            dial-size="140"
            panel-width="140"
            class="panel__panel-body"
            gauges="rwDashboardUePanel.saegwGauges"
            ></rw-gaugeset>
    </div>

</div>
