* {
  box-sizing: border-box;
}
.viewport,
.viewport__body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.viewport__body {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
