<!-- A test for the button component -->
<!doctype html>
<html lang="en" class="viewport" ng-app="test">
<head>
  <!-- -->
  <title>RIFT.ware</title>
  <!-- -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- -->
  <link rel="stylesheet" type="text/css" href="../../integration/ridgets/css/page.css"/>
  <link rel="stylesheet" type="text/css" href="../../integration/_data/_css/style.css"/>
  <link rel="stylesheet" type="text/css" href="../../lib/font-awesome/css/font-awesome.min.css"/>
  <!-- -->
  <script src="../../lib/jquery/dist/jquery.js"></script>
  <script src="/vendor.js"></script>
  <script src="../../lib/underscore/underscore.js"></script>
  <script src="../../lib/socket.io-client/dist/socket.io.js"></script>
  <script src="../../lib/jsonpath/lib/jsonpath.js"></script>
  <script src="../../lib/numeral/numeral.js"></script>
  <script src="../../lib/platform/platform.js"></script>
  <script src="../../integration/ridgets/js/rw.js"></script>
  <script src="../../modules/rift/rw.helper.browserify.js"></script>

  <!-- rw-slider needs all of these in header -->
  <script src="/modules/rift/rw.ui.browserify.js"></script>
  <script src="../../lib/nouislider/jquery.nouislider.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../../lib/nouislider/jquery.nouislider.css"/>
  <link rel="stylesheet" type="text/css" href="../../modules/css/rw.ui.css"/>
  <style>
    #test1 {
      display: inline-block;
      width: 200px;
      height: 30px;
    }
  </style>
</head>
<body class="viewport" ng-controller="testPage">
<div id="test1">
  <rw-bullet2 bullet-color={{color}} value="{{testValue}}"></rw-bullet2>
</div>
<div>
  value = {{testValue}}
</div>
<script>
  angular.module('test', ['uiModule'])
    .controller('testPage', function($scope, $interval) {
      $scope.color = "#ff0000";
      $scope.testValue = 0;
      $interval(function() {
        $scope.testValue = ($scope.testValue + 10) % 100;
      }, 1000);
    });
</script>
</body>
</html>

