<!-- A test for the network-diagram component -->
<!doctype html>
<html lang="en" class="viewport" ng-app="test">
<head>
  <!-- -->
  <title>RIFT.ware</title>
  <!-- -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- -->
  <link rel="stylesheet" type="text/css" href="../../integration/ridgets/css/page.css"/>
  <link rel="stylesheet" type="text/css" href="../../integration/_data/_css/style.css"/>
  <link rel="stylesheet" type="text/css" href="../../lib/font-awesome/css/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" href="../../lib/nouislider/jquery.nouislider.css"/>
  <link href="../../lib/circliful/css/jquery.circliful.css" rel="stylesheet" type="text/css" />
  <!-- -->
  <script src="../../vendor.js"></script>
  <script src="../../integration/ridgets/js/rw.js"></script>
  <script src="../../modules/rift/rw.helper.min.js"></script>
  <script src="../../integration/_components/_services/dispatchesque.js"></script>
  <script src="../../modules/rift/headerIntegration.min.js"></script>
  <script src="../../modules/rift/rw.ui.min.js"></script>
  <script src="../../modules/rift/rw.cmdcntr.min.js"></script>
  <script src="../../modules/rift/rw.trafgen.min.js"></script>
  <script src="../../modules/rift/rw.trafsim.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../../modules/css/rw.cmdcntr.css"/>
  <link rel="stylesheet" type="text/css" href="../../modules/css/rw.ui.css"/>
  <link rel="stylesheet" type="text/css" href="../../modules/css/rw.ue.css"/>
</head>
<body class="viewport" ng-controller="testPage">

<dashboard-page></dashboard-page>

<script>
  angular.module('test', ['cmdcntr', 'trafgen', 'trafsim'])
    .controller('testPage', function(trafgenFactory, trafsimFactory) {
      // this triggers code to get actual state of components
      trafgenFactory.attached();
      trafsimFactory.attached();
    });
</script>

</body>
</html>

