<html>
<head>
  <title>RIFT.ware</title>
  <!-- META Data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../test/components/js/components.js"></script>
  <script src="../../build/vendor.js"></script>
  <script src="../../src/integration/_components/_services/dispatchesque.js"></script>
  <script src="../../src/modules/rift/rw.helper/rw.helpers.mod.js"></script>
  <script src="../../src/modules/rift/rw.launchpad/rw.launchpad.mod.js"></script>
  <script src="../../src/modules/rift/rw.launchpad/directives/rw.launchpad-create.dir.js"></script>
  <script src="../../src/modules/rift/rw.launchpad/service/rw.launchpad-create.svc.js"></script>
  <script src="../../src/modules/rift/rw.launchpad/directives/rw.launchpad-create_build.dir.js"></script>
  <script src="../../src/modules/rift/rw.launchpad/directives/rw.launchpad-create_inputs.dir.js"></script>
  <script src="../../src/modules/rift/rw.launchpad/directives/rw.launchpad-create_confirm.dir.js"></script>
  <script src="../../src/modules/rift/rw.launchpad/directives/rw.launchpad-create_choose.dir.js"></script>
  <script src="../../src/modules/rift/rw.launchpad/directives/rw.launchpad-create_config.dir.js"></script>
  <script src="../../src/modules/rift/rw.launchpad/directives/rw.launchpad-create_image.dir.js"></script>
  <script src="../../src/modules/rift/rw.launchpad/directives/rw.launchpad-create_resources.dir.js"></script>
  <script src="../../src/modules/rift/rw.launchpad/directives/rw.launchpad-create_step_location.dir.js"></script>
</head>
<body ng-app="launchPad">
<create-step-location></create-step-location>
<launchpad-create></launchpad-create>
</body>
</html>