<!-- A test for the button component -->
<!doctype html>
<html lang="en" class="viewport" ng-app="test">
<head>
  <!-- -->
  <title>RIFT.ware</title>
  <!-- -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- -->
  <!-- link href="/core.css" rel="stylesheet" type="text/css"  / -->
  <link rel="stylesheet" type="text/css" href="../../integration/ridgets/css/page.css"/>
  <link rel="stylesheet" type="text/css" href="../../integration/_data/_css/style.css"/>
  <link rel="stylesheet" type="text/css" href="../../lib/font-awesome/css/font-awesome.min.css"/>

  <!-- -->
  <script src="../../lib/jquery/dist/jquery.js"></script>
  <script src="../../lib/angular/angular.min.js"></script>
  <script src="../../lib/underscore/underscore.js"></script>
  <script src="../../lib/d3/d3.min.js"></script>
  <script src="../../lib/socket.io-client/dist/socket.io.js"></script>
  <script src="../../lib/jsonpath/lib/jsonpath.js"></script>
  <script src="../../lib/numeral/numeral.js"></script>
  <script src="../../lib/platform/platform.js"></script>
  <script src="../../integration/ridgets/js/rw.js"></script>
  <script src="../../modules/rift/rw.helper.min.js"></script>
  <script src="../../integration/_components/_services/dispatchesque.js"></script>
  <script src="../../modules/rift/ui.min.js"></script>
  <script src="../../modules/rift/rw.loadbal.min.js"></script>
  <script src="../../modules/rift/rw.cmdcntr.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../../modules/css/rw.cmdcntr.css"/>

</head>
<body class="viewport" ng-controller="testPage">

<loadbal-summary service="service"></loadbal-summary>

<script>
  angular.module('test', ['cmdcntr', 'loadbal', 'dispatchesque'])
    .controller('testPage', function($scope, vnfFactory, dispatcher, portStateFactory, $rootScope) {
      vnfFactory.attached();
      $rootScope.$on('vnf-update', function() {
        _.each(vnfFactory.services, function(service) {
          if (service.type === 'loadbal') {
            $scope.service = service;
            return false;
          }
        })
      });
    });

</script>

<div style="height: 0; width: 0; position: absolute; visibility: hidden">
  <!-- inject:svg --><!-- endinject -->
</div>

</body>
</html>

