<!-- A test for the network-diagram component -->
<!doctype html>
<html lang="en" class="viewport" ng-app="test">
<head>
  <!-- -->
  <title>RIFT.ware</title>
  <!-- -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- -->
  <link rel="stylesheet" type="text/css" href="../../integration/ridgets/css/page.css"/>
  <link rel="stylesheet" type="text/css" href="../../integration/_data/_css/style.css"/>
  <link rel="stylesheet" type="text/css" href="../../lib/font-awesome/css/font-awesome.min.css"/>
  <!-- -->
  <script src="../../lib/jquery/dist/jquery.js"></script>
  <script src="../../lib/platform/platform.js"></script>
  <script src="../../lib/d3/d3.js"></script>
  <script src="../../lib/angular/angular.js"></script>
  <script src="../../lib/underscore/underscore.js"></script>
  <script src="../../lib/socket.io-client/dist/socket.io.js"></script>
  <script src="../../lib/jsonpath/lib/jsonpath.js"></script>
  <script src="../../lib/numeral/numeral.js"></script>
  <script src="../../integration/ridgets/js/rw.js"></script>
  <script src="../../modules/rift/rw.helper.min.js"></script>
  <script src="../../integration/_components/_services/dispatchesque.js"></script>
  <script src="../../modules/rift/rw.ui.min.js"></script>
  <script src="../../modules/rift/rw.cmdcntr.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../../modules/css/rw.cmdcntr.css"/>
  <link rel="stylesheet" type="text/css" href="../../modules/css/rw.ui.css"/>
  <link rel="stylesheet" type="text/css" href="../../modules/css/rw.ue.css"/>
</head>
<body class="viewport" ng-controller="testPage">

<status-led state="{{state}}"></status-led>

<script>
  angular.module('test', ['cmdcntr'])
    .controller('testPage', function($scope, $interval) {
      var i = 0;
      $interval(function() {
        $scope.state = i++ % 2 ? 'up' : 'down';
      }, 1000);
    });
</script>

</body>
</html>

