<!-- A test for the button component -->
<!doctype html>
<html lang="en" class="viewport" ng-app="test">
<head>
  <!-- -->
  <title>RIFT.ware</title>
  <!-- -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- -->
  <!-- link href="/core.css" rel="stylesheet" type="text/css"  / -->
  <link rel="stylesheet" type="text/css" href="../../integration/ridgets/css/page.css"/>
  <link rel="stylesheet" type="text/css" href="../../integration/_data/_css/style.css"/>
  <link rel="stylesheet" type="text/css" href="../../lib/font-awesome/css/font-awesome.min.css"/>

  <!-- -->
  <script src="../../vendor.js"></script>
  <script src="../../integration/ridgets/js/rw.js"></script>
  <script src="../../modules/rift/rw.helper.min.js"></script>
  <script src="../../integration/_components/_services/dispatchesque.js"></script>
  <script src="../../modules/rift/headerIntegration.min.js"></script>
  <script src="../../modules/rift/rw.ui.min.js"></script>
  <script src="../../modules/rift/rw.trafsim.min.js"></script>
  <script src="../../modules/rift/rw.cmdcntr.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../../modules/css/rw.cmdcntr.css"/>
  <link rel="stylesheet" type="text/css" href="../../modules/css/rw.ui.css"/>

</head>
<body class="viewport" ng-controller="testPage">

<trafsim-summary service="service"></trafsim-summary>
<trafsim-details service="service"></trafsim-details>

<script>
  angular.module('test', ['trafsim'])
    .controller('testPage', function($scope, vnfFactory) {
      vnfFactory.attached().done(function() {
        _.each(vnfFactory.services, function(service) {
          if (service.type === 'trafsimclient') {
            $scope.service = service;
            return false;
          }
        })
      });
    });

</script>

<div style="height: 0; width: 0; position: absolute; visibility: hidden">
  <!-- inject:svg --><!-- endinject -->
</div>

</body>
</html>

