<div class="traffic-component">
  <svg class="traffic-component-layer" id="traffic-diagram">
    <!-- duplicate copy of this in rw-network.html -->
    <defs>
      <filter id="dropshadow" height="130%">
        <feGaussianBlur in="SourceAlpha" stdDeviation="2"/>
        <feOffset dx="0" dy="2" result="offsetblur"/>
        <feMerge>
          <feMergeNode/>
          <feMergeNode in="SourceGraphic"/>
        </feMerge>
      </filter>
      <filter id="blueglow">
        <feGaussianBlur in="SourceGraphic" stdDeviation="2.5"/>
        <feMerge>
          <feMergeNode/>
          <feMergeNode in="SourceGraphic"/>
        </feMerge>
      </filter>
    </defs>
  </svg>
  <!-- html on top -->
  <div class="traffic-component-layer" id="traffic-metrics"></div>
</div>