<div>
  <table id="statsTable" class="datagrid">
    <colgroup class="datagrid__port-params">
    <colgroup class="datagrid__port-params">
    <colgroup span="3" class="datagrid__tx">
    <colgroup span="3" class="datagrid__rx">
      <thead class="datagrid">
      <tr>
        <th>Port</th>
        <th>Status</th>
        <th>Tx Speed</th>
        <th> </th>
        <th></th>
        <th>Rx Speed</th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th>Last min</th>
        <th>Current</th>
        <th>Err</th>
        <th>Last Min</th>
        <th>Current</th>
        <th>Err</th>
      </tr>
      </thead>

      <tbody class="datagrid__summary">
        <tr
            ng-repeat="item in trafficStats.visibleItems"
            data-index="$index"
            ng-click="trafficStats.toggleExpand(item)">
          <td nowrap>
            <span ng-attr-class="{{'indent-' + trafficStats.level(item)}}"><!--indentation--></span>
            <svg ng-if="trafficStats.hasChildren(item)" class="icon icon--small">
              <use ng-attr-xlink:href="{{item.open ? '#icon-node-open' : '#icon-node-closed'}}" xlink:href="" />
            </svg>
            <svg class="icon icon--small">
              <use ng-attr-xlink:href="{{'#' + item.icon}}" xlink:href=""/>
            </svg>
            {{item.label}}
          </td>
          <td nowrap>
            <status-led
                    state="{{item.data.linkState}}"
                    state-string="{{item.data.linkStateString}}"
                    ></status-led>
          </td>
          <td>
            <rw-scroll-graph
                    line-color="{{theme.txBps}}"
                    stroke-color="{{theme.txBpsTranslucent}}"
                    line-color2="{{theme.txPps}}"
                    stroke-color2="{{theme.txPpsTranslucent}}"
                    width="100"
                    height="40"
                    paused="{{trafficStats.paused}}"
                    labels="{{trafficStats.showLabels}}"
                    value="{{item.data.tx_percent}}"
                    value2="{{{rate: item.data.tx_rate_pps, max:item.data.speed} | ppsUtilizationMax}}"
                    ></rw-scroll-graph>
          </td>
          <td id="datagrid__tx">
            <div class="rate">
              <div class="rate-value">{{item.data.tx_rate_mbps | bits}} ({{item.data.tx_percent}}%)</div>
              <div class="rate-min">0</div>
              <rw-bullet
                      class="rate-bullet"
                      value="{{item.data.tx_percent}}"
                      bullet-color="{{theme.txBps}}"
                      marker="{{trafficStats.service.rate}}"
                      ></rw-bullet>
              <div class="rate-max">{{item.data.speed | bits}}</div>
            </div>
            <div class="rate">
              <div class="rate-value">{{item.data.tx_rate_pps | fmt:'0a' | uppercase}}pps</div>
              <div class="rate-min">0</div>
              <rw-bullet
                      class="rate-bullet"
                      value="{{item.data.tx_rate_pps}}"
                      max="{{item.data.speed * 1000000 | bpsAsPps}}"
                      bullet-color="{{theme.txPps}}"
                      ></rw-bullet>
              <div class="rate-max">{{item.data.speed | mbpsAsPps}}pps</div>
            </div>
          </td>
          <td class="{{ {tgHasError : item.data.output_errors > 0} | tokenList }}">{{item.data.outputErrorsString}}</td>
          <td>
            <rw-scroll-graph
                    line-color="{{theme.rxBps}}"
                    stroke-color="{{theme.rxBpsTranslucent}}"
                    line-color2="{{theme.rxPps}}"
                    stroke-color2="{{theme.rxPpsTranslucent}}"
                    width="100"
                    height="40"
                    paused="{{trafficStats.paused}}"
                    labels="{{trafficStats.showLabels}}"
                    value="{{item.data.rx_percent}}"
                    value2="{{{rate: item.data.rx_rate_pps, max:item.data.speed} | ppsUtilizationMax}}"
                    ></rw-scroll-graph>
          </td>
          <td id="datagrid__rx">
            <div class="rate">
              <div class="rate-value">{{item.data.rx_rate_mbps | bits}} ({{item.data.rx_percent}}%)</div>
              <div class="rate-min">0</div>
              <rw-bullet
                      class="rate-bullet"
                      value="{{item.data.rx_percent}}"
                      bullet-color="{{theme.rxBps}}"
                      ></rw-bullet>
              <div class="rate-max">{{item.data.speed | bits}}</div>
            </div>
            <div class="rate">
              <div class="rate-value">{{item.data.rx_rate_pps | fmt:'0a' | uppercase}}pps</div>
              <div class="rate-min">0</div>
              <rw-bullet
                      class="rate-bullet"
                      value="{{item.data.rx_rate_pps}}"
                      max="{{item.data.speed * 1000000 | bpsAsPps}}"
                      bullet-color="{{theme.rxPps}}"
                      ></rw-bullet>
              <div class="rate-max">{{item.data.speed | mbpsAsPps}}pps</div>
            </div>
          </td>
          <td class="{{{tgHasError : item.data.input_errors > 0} | tokenList}}">{{item.data.inputErrorsString}}</td>
        </tr>
      </tbody>
  </table>
</div>