/*
 * 
 * (c) Copyright RIFT.io, 2013-2016, All Rights Reserved
 *
 */

.management-domains {
    flex: 1 1 auto;
    h1 {
      margin-left:1rem;
    }
    .dashboardCard_wrapper {
        padding:0;
    }
}
