/*
 * 
 * (c) Copyright RIFT.io, 2013-2016, All Rights Reserved
 *
 */
.crash-container {
    margin: 1rem 1.5rem;
    background-color:#e5e5e5;


    .primary {
    	background-color:#ffffff;
    }
    .tree {
    	padding:1.5rem;
    }
    h2 {
      background-color: #ffffff;
      margin-bottom: 0.125rem;
      font-size: 0.9rem;
      padding: 1.125rem;
      font-weight: bold;
      text-transform: uppercase;
    }
}