/**/
/**/
.ltesimdetails ul {
  padding: 0px;
  margin: 0px;
  line-height: normal;
  list-style: none;
}
.ltesimdetails ul li ul {
  margin-left: 25px;
}
.ltesimdetails ul span.label {
  padding: 0px;
  margin: 0px;
  color: #cccccc;
  font-size: 14px;
  font-weight: 200;
}
.ltesimdetails ul span.label::first-letter {
  text-transform: capitalize;
}
.ltesimdetails ul span.value {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}
