<svg
        width="100%"
        height="100%"
        viewBox="0 0 512 64"
        preserveAspectRatio="none">
  <rect class="bullet-container"
        ng-attr-width="{{bullet.width - (2 * bullet.containerMarginX)}}"
        ng-attr-height="{{bullet.height - (2 * bullet.containerMarginY)}}"
        ng-attr-x="{{bullet.containerMarginX}}"
        ng-attr-y="{{bullet.containerMarginY}}"
        ng-attr-rx="{{bullet.radius}}"
        ng-attr-ry="{{bullet.radius}}"></rect>
  <svg
          ng-attr-x="{{bullet.containerMarginX}}"
          ng-attr-y="{{bullet.bulletMargin}}">
    <rect
            class="bullet"
            ng-attr-fill="{{bullet.bulletColor}}"
            ng-attr-width="{{bullet.bulletWidth}}"
            ng-attr-height="{{bullet.height - (2 * bullet.bulletMargin)}}"></rect>
  </svg>
  <line class="bullet-marker"
        ng-attr-x1="{{bullet.markerX}}"
        ng-attr-x2="{{bullet.markerX}}"
        ng-attr-y1="{{bullet.markerY1}}"
        ng-attr-y2="{{bullet.markerY2}}"></line>
</svg>
