<!doctype html>
<html lang="en" class="viewport">
      <head>
            <!-- TITLE Data -->
            <title>RIFT.ware</title>
            <!-- META Data -->
            <meta charset="utf-8">

            <style>
                  .spacer.small {
                        padding-top: 10px;
                  }

                  .spacer.large {
                        padding-top: 20px;
                  }
            </style>
      </head>

      <body>
            <div>
                  <div><a href="#" onclick="window.open('?config=demo60#/login')">Login</a></div>
                  <div class="spacer large">


                  <div><a href="#" onclick="window.open('?config=demo60#/')">Mission Control</a></div>
                  <div class="spacer large">

                  
                  <div><a href="#" onclick="window.open('?config=demo60#/launchpad/epa-federation')">Trafgen Launchpad Demo 1</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/create/epa-federation')">Create Trafgen Fleet</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/epa-federation/0')">Non-EPA Trafgen Viewport Dashboard (1A)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/epa-federation/0/platform/traffic')">Non-EPA Trafgen Platform Traffic (1A)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/epa-federation/0/platform/resources')">Non-EPA Trafgen Platform Resources (1A)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/epa-federation/0/vim')">Non-EPA Trafgen Viewport VIM (1A)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/epa-federation/0/vnfs')">Non-EPA Trafgen Viewport VNFs (1A)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/epa-federation/0/so')">Non-EPA Trafgen Viewport Service Orchestration (1A)</a></div>
                  <div class="spacer small">

                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/epa-federation/1')">EPA Trafgen Viewport Dashboard (1B)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/epa-federation/1/platform/traffic')">EPA Trafgen Platform Traffic (1B)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/epa-federation/1/platform/resources')">EPA Trafgen Platform Resources (1B)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/epa-federation/1/vim')">EPA Trafgen Viewport VIM (1B)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/epa-federation/1/vnfs')">EPA Trafgen Viewport VNFs (1B)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/epa-federation/1/so')">EPA Trafgen Viewport Service Orchestration (1B)</a></div>
                  <div class="spacer large">


                  <div><a href="#" onclick="window.open('?config=demo60#/launchpad/security-federation')">Workload Placement Launchpad Demo 2</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/create/security-federation')">Create Workload Placement Fleet</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/security-federation/0')">Trusted Placement Viewport Dashboard (2A)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/security-federation/0/platform/traffic')">Trusted Placement Platform Traffic (2A)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/security-federation/0/platform/resources')">Trusted Placement Platform Resources (2A)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/security-federation/0/vim')">Trusted Placement Viewport VIM (2A)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/security-federation/0/vnfs')">Trusted Placement Viewport VNFs (2A)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/security-federation/0/so')">Trusted Placement Viewport Service Orchestration (2A)</a></div>
                  <div class="spacer small">

                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/security-federation/1')">Security Performance Viewport Dashboard (2B)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/security-federation/1/platform/traffic')">Security Performance Platform Traffic (2B)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/security-federation/1/platform/resources')">Security Performance Platform Resources (2B)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/security-federation/1/vim')">Security Performance Viewport VIM (2B)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/security-federation/1/vnfs')">Security Performance Viewport VNFs (2B)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/security-federation/1/so')">Security Performance Viewport Service Orchestration (2B)</a></div>
                  <div class="spacer large">


                  <div><a href="#" onclick="window.open('?config=demo60#/launchpad/cat-cmt-federation')">CAT/CMT Launchpad Demo 3</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/create/cat-cmt-federation')">Create CAT/CMT Fleet</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/cat-cmt-federation/0')">No CAT/CMT Viewport Dashboard (3A)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/cat-cmt-federation/0/platform/traffic')">No CAT/CMT Platform Traffic (3A)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/cat-cmt-federation/0/platform/resources')">No CAT/CMT Platform Resources (3A)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/cat-cmt-federation/0/vim')">No CAT/CMT Viewport VIM (3A)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/cat-cmt-federation/0/vnfs')">No CAT/CMT Viewport VNFs (3A)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/cat-cmt-federation/0/so')">No CAT/CMT Viewport Service Orchestration (3A)</a></div>
                  <div class="spacer small">

                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/cat-cmt-federation/1')">CAT/CMT Viewport Dashboard (3B)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/cat-cmt-federation/1/platform/traffic')">CAT/CMT Platform Traffic (3B)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/cat-cmt-federation/1/platform/resources')">CAT/CMT Platform Resources (3B)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/cat-cmt-federation/1/vim')">CAT/CMT Viewport VIM (3B)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/cat-cmt-federation/1/vnfs')">CAT/CMT Viewport VNFs (3B)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/cat-cmt-federation/1/so')">CAT/CMT Viewport Service Orchestration (3B)</a></div>
                  <div class="spacer large">


                  <div><a href="#" onclick="window.open('?config=demo60#/launchpad/wag-federation')">WAG Launchpad Demo 4</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/create/wag-federation')">Create WAG Fleet</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/wag-federation/0')">WAG Viewport Dashboard (4A)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/wag-federation/0/platform/traffic')">WAG Platform Traffic (4A)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/wag-federation/0/platform/resources')">WAG Platform Resources (4A)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/wag-federation/0/vim')">WAG Viewport VIM (4A)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/wag-federation/0/vnfs')">WAG Viewport VNFs (4A)</a></div>
                  <div><a href="#" onclick="window.open('?config=demo60#/dashboard/wag-federation/0/so')">WAG Viewport Service Orchestration (4A)</a></div>
            </div>
      </body>
</html>
