* {
  box-sizing: border-box;
}
.tabs {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 8px;
  border-bottom: 1px solid #000000;
}
.tabs > .tab {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin: 0px;
  cursor: pointer !important;
  line-height: 40px;
  text-align: center;
  background-color: #3b3b3b;
  border-left: 1px solid rgba(0, 0, 0, 0.35);
  border-right: 1px solid rgba(0, 0, 0, 0.35);
  border-top: 1px solid rgba(0, 0, 0, 0.35);
  border-bottom: none;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.tabs > .tab:hover {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin: 0px;
  border-left: 1px solid rgba(0, 0, 0, 0.35);
  border-right: 1px solid rgba(0, 0, 0, 0.35);
  border-top: 1px solid rgba(0, 0, 0, 0.35);
  border-bottom: none;
  background-color: linear-gradient(#67c6ef, #1dabe7);
}
.tabs > .tab.core-selected {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: -1px;
  cursor: default;
  border-left: 1px solid rgba(0, 0, 0, 0.35);
  border-right: 1px solid rgba(0, 0, 0, 0.35);
  border-top: 1px solid rgba(0, 0, 0, 0.35);
  border-bottom: none;
  background-color: #454545;
}
.datagrid {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
  padding: 0;
}
.datagrid__port-params {
  border-right: 1px solid #787878;
}
.datagrid__tx {
  border-right: 1px solid #787878;
}
.datagrid tr {
  border-bottom: 1px solid #787878;
}
.datagrid tbody tr:nth-of-type(even) {
  /*background: @gray7;*/
}
/**/
.datagrid thead tr th {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0px;
  color: #d4d4d4;
  font-size: 14px;
  font-weight: 200;
  text-align: left;
  background-color: #3b3b3b;
  border-bottom: 1px solid #787878;
}
/**/
.datagrid tbody tr:nth-of-type(odd) {
  background-color: #5e5e5e;
}
.datagrid tbody tr td {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  white-space: nowrap;
}
.datagrid tbody tr.datagrid--is-selected td {
  background-color: #67c6ef;
}
/**/
/**/
.datagrid tbody tr td.cluster .icon {
  margin-left: 25px;
}
.datagrid tbody tr td.vm2 .icon {
  margin-left: 50px;
}
.dataGridIsClosed,
.datagrid__details--is-closed {
  display: none;
}
.datagrid-small {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
  padding: 0;
}
.datagrid-small td:first-child,
.datagrid-small th {
  font-size: 14px;
  color: #d4d4d4;
}
.datagrid-small td:first-child,
.datagrid-small th:first-child {
  border-right: 1px solid #787878;
}
.datagrid-small th:not(:first-child) {
  font-weight: normal;
  border-left: 1px solid #787878;
}
.datagrid-small td:not(:first-child) {
  border-left: 1px solid #787878;
  color: #878787;
}
.datagrid-small tr {
  border-bottom: 1px solid #787878;
}
.datagrid-small td {
  padding: 0;
}
.datagrid-small thead tr {
  text-align: center;
  white-space: nowrap;
}
.datagrid-small thead td {
  font-size: 14px;
}
.datagrid-small tbody tr {
  border-bottom: 1px solid #787878;
  text-align: left;
}
td.datagrid-numcell-small {
  text-align: right;
  font-size: 14px;
  color: #787878;
}
:host {
  display: block;
  background-color: #454545;
  padding: 10px;
  position: relative;
}
#summary {
  margin-top: 5px;
}
.tab {
  display: none;
}
.tab-on {
  display: block;
}
#tabNav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.core-selected {
  /*background-color: @gray9;*/
}
#charts {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 5px;
}
#summary div {
  width: 200px;
}
#charts .chart {
  flex: 1;
}
#summary div {
  flex: 1;
}
#summary > span {
  margin-right: 40px;
}
.chart--details {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 5px;
}
.chart--details > * {
  margin-top: 5px;
  margin-right: 5px;
}
.chart--sidebar {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
rw-scroll-graph {
  width: 300px;
}
