* {
  box-sizing: border-box;
}
.title-background {
  fill: none;
  cursor: pointer;
}
.title {
  fill: #ffffff;
  font: 16px/1.2 open-sans, sans-serif;
}
.handle-label {
  font: 16px/1.2 open-sans, sans-serif;
}
.connector {
  fill: none;
  stroke: #49bdee;
  stroke-width: 4;
}
.label {
  fill: black;
  stroke: none;
  font: 16px/1.2 open-sans, sans-serif;
}
path.hr {
  stroke: #121212;
  stroke-width: 0.5;
}
.handle path {
  stroke: #49bdee;
  stroke-width: 4;
}
.handle rect {
  stroke: #49bdee;
  stroke-width: 4;
  fill: #454545;
}
.icon rect {
  fill: #49bdee;
}
.icon path {
  fill: white;
}
.title,
.handle-label {
  fill: #ffffff;
}
.connector {
  stroke: #49bdee;
  stroke-width: 3;
  fill: none;
}
:host {
  overflow: scroll;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
rect.service {
  fill: #454545;
  stroke: #121212;
  stroke-width: 1;
}
path.fabricPattern {
  stroke: #3b3b3b;
  stroke-width: 1;
  stroke-linecap: round;
}
text.as {
  fill: #ffffff;
}
rect.as,
rect.iface {
  stroke: #ffffff;
  fill: #5e5e5e;
  stroke: #121212;
}
rect.fabric {
  stroke: #3b3b3b;
  stroke-width: 1;
}
text.fabric {
  fill: #454545;
}
rect.vmicon {
  stroke: #454545;
  stroke-width: 12;
  fill: #5e5e5e;
}
text.label {
  fill: #ffffff;
}
.selection {
  fill: none;
  stroke: #49bdee;
}
#diagram {
  height: 100%;
  width: 100%;
  min-width: 1500px;
}
text.title {
  fill: #cccccc;
  stroke: none;
  font-size: 16px;
  font-family: roboto-condensed, open-sans, sans-serif;
  font-weight: 200;
}
text.label {
  fill: #ffffff;
  stroke: none;
  font-size: 14px;
  font-family: roboto-condensed, open-sans, sans-serif;
  font-weight: 400;
}
